@import url('font.css');

/* Types */

* {
    color: white;
    box-sizing: border-box;
}

h1 {
    font-size: 4em;

    font-family: 'Roboto';
}

h2 {
    font-size: 3em;

    font-family: 'Roboto';
}

h3 {
    font-size: 1.9em;

    font-family: 'Roboto Thin'
}

p, ul, aside {
    font-family: 'Roboto Light', sans-serif;
    font-size: 1.8em;
}

a {
    color: indianred;
    text-decoration: unset;
}

/* Containers */

html {
    background-color: black;
    width: 100%;
    min-height: 100%;
}

body {
    width: inherit;
    min-height: inherit;

    margin: 0;
    padding: 0;
    
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

section {
    margin: 0 auto;

    display: flex;
    flex-flow: column wrap;

    width: inherit;
    height: 100vh;

    align-items: left;
    justify-content: center;

    line-height: 2;
    padding: 2em;
}

article.TEXT {
    width: 40%;
    /* padding: 1ex; */
}

article.SCATTER {
    width: 60%;
    height: 90%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

section#TITLE {
    line-height: 0.25ex;

    background-color: rgb(79,36,68);
}

section#CONTEXT {
    background-color: rgb(76,35,66);
}

section#FOCUS {
    background-color: rgb(73,34,65);
}

section#GEOGRAPHY {
    background-color: rgb(70,33,63);
}

section#SAFETY {
    background-color: rgb(68,33,61);
}

section#INCOME {
    flex-flow: row wrap;
    align-items: center;
    justify-content: left;    
    background-color: rgb(65,32,59);
}

section#RACE {
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(62,31,58);
}

section#NEXT {
    background-color: rgb(59,30,56);
}

iframe {
    margin: auto;

    border: unset;
    overflow: hidden;
}

article.SCATTER > iframe {
    width: 100%;
    height: 100%;
}

section.MAP > iframe {
    width: 100%;
    height: 100%;
}