---
// eslint-disable-next-line @typescript-eslint/no-explicit-any
export type Props = { children?: any };
---

<footer
  class="flex flex-col flex-nowrap items-center justify-center space-y-2 border-t-2 border-t-slate-900 py-4 text-center text-xs dark:border-t-slate-200"
>
  <slot>
    This work is licensed under a
    <a
      rel="license"
      href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh"
      class="underline underline-offset-4"
    >
      Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International
      License
    </a>
    <a
      rel="license"
      href="http://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh"
    >
      <img
        alt="Creative Commons License"
        src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png"
      />
    </a>
  </slot>
</footer>
