.plot {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
}

.plot svg {
  aspect-ratio: 4 / 3;
  margin: 1rem;
  margin-bottom: 0.5rem;
}

.plot figcaption {
  margin: 1rem;
  margin-top: 0.5rem;
}

:root {
  --plot-light-background-color: hsl(0, 10%, 95%);
  --plot-light-fill-color: hsl(0, 0%, 80%);
  --plot-light-stroke-color: hsl(20, 10%, 15%);
  --plot-dark-background-color: var(--plot-light-stroke-color);
  --plot-dark-stroke-color: var(--plot-light-background-color);
  --plot-theme-background-color: var(--plot-light-background-color);
  --plot-theme-fill-color: var(--plot-light-fill-color);
  --plot-theme-stroke-color: var(--plot-light-stroke-color);
  --plot-theme-stroke-width: 0.1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --plot-theme-background-color: var(--plot-dark-background-color);
    --plot-theme-stroke-color: var(--plot-dark-stroke-color);
  }
}

.plot .pane text {
  font-family: "Domine", serif;
  font-size: smaller;
}

.plot .pane .background rect {
  fill: var(--plot-theme-background-color);
  stroke: none;
}

.plot .pane .axes line,
.plot .pane .axes path,
.plot .pane .plots path {
  fill: none;
  stroke: var(--plot-theme-stroke-color);
}

.plot .pane .axes text {
  fill: var(--plot-theme-stroke-color);
}

.plot .pane .plots .area path.area,
.plot .pane .plots .area rect {
  stroke: var(--plot-theme-stroke-color);
  fill: var(--plot-theme-fill-color);
  opacity: 0.3;
}
